---
import { db, Users, Comments, eq } from "astro:db";
import Header from "@/components/header.astro";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
console.log(session);

let usuariosData = [];

if(session !== null){
	usuariosData = await db.select().from(Users).where(eq(Users.email, session.user.email));
	console.log(usuariosData);
} else {
	return Astro.redirect('/');
}




if (Astro.request.method === 'POST') {
	// parse form data
	const formData = await Astro.request.formData();
	const titulo = formData.get('titulo');
	const comentario = formData.get('comentario');
	const usuario = usuariosData[0].id;
	const completed = formData.get('complete');
	const isPublic = formData.get('isPublic');
	console.log(completed);
	let completeUpload = false;
	if(completed === "true"){
		completeUpload = true;
	}
	let isPublicUpload = true;
	if(isPublic === "true"){
		isPublicUpload = true;
	} else {
		isPublicUpload = false;
	}
	console.log(completeUpload);
	
	console.log(usuario)
	await db.insert(Comments).values([
		{
			id: null,
			title: titulo,
			description: comentario,
			completed: completeUpload,
			userId: usuario,
			isPublic: isPublicUpload
		}
	])
	return Astro.redirect('/');
}

---

<html lang="es" class="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Add Comment</title>
	</head>
	<body class="text-center bg-gray-800 text-white dark:bg-gray-100 dark:text-gray-800">
		<main class="bg-white text-black shadow-md rounded p-4 m-4 dark:bg-gray-800 dark:text-white">
		<Header title="Add" hrefText="See"/>
			{
				(session) 
				?
				(
				<form method="post">
					<label for="titulo" class="block text-gray-700 text-sm font-bold mb-2 dark:text-gray-400">Titulo del comentario</label>
					<input type="text" name="titulo" id="titulo" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline dark:bg-gray-900 dark:text-gray-400" required />
					
					<label for="comentario" class="block text-gray-700 text-sm font-bold mb-2 mt-4 dark:text-gray-400">Comentario</label>
					<textarea name="comentario" id="comentario" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline dark:bg-gray-900 dark:text-gray-400 min-h-9" required></textarea>

					<label for="isPublic" class="block text-gray-700 text-sm font-bold mb-2 mt-4 dark:text-gray-400">Public</label>
					<select name="isPublic" id="isPublic" class="block appearance-none w-full bg-white border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 dark:bg-gray-900 dark:text-gray-400" required>
						<option value="">Select any option</option>
						<option value="true">Yes</option>
						<option value="false">No</option>
					</select>

					<label for="complete" class="block text-gray-700 text-sm font-bold mb-2 mt-4 dark:text-gray-400">Complete</label>
					<select name="complete" id="complete" class="block appearance-none w-full bg-white border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 dark:bg-gray-900 dark:text-gray-400" required>
						<option value="">Select any option</option>
						<option value="true">Yes</option>
						<option value="false">No</option>
					</select>
					<input type="submit" value="Submit" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
				</form>
				) : 
				(
					<p>Debes iniciar sesion para poder agregar un comentario</p>
				)
			}
			
		</main>
	</body>
	<style>
		:root{
			color-scheme: light dark;
		}
	</style>
</html>