---
import { eq } from "astro:db";
import { db, Authors, Comments } from "astro:db";

const CommentsData = await db.select().from(Comments).innerJoin(Authors, eq(Comments.authorId, Authors.id))
console.log(CommentsData);
if (Astro.request.method === 'POST') {
	// parse form data
	const formData = await Astro.request.formData();
	const id = formData.get('id');
	console.log(id)
	// delete comment
	await db.delete(Comments).where(eq(Comments.id, id));
	return Astro.redirect('/');
}

---

<html lang="es" class="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="text-center bg-gray-800 text-white dark:bg-gray-100 dark:text-gray-800">
		<h1 class="text-4xl font-bold mb-4">See Comments</h1>
		<a href="/addComments">Add Comments</a>
		<main class="w-screen">
			<section class="bg-white text-black shadow-md rounded p-4 m-4 dark:bg-gray-800 dark:text-white">
				<h2 class="text-2xl font-semibold mb-2">Comments:</h2>
				<ul class="mt-8 space-y-4">
					{CommentsData.map((comment) => (
						<li class="border p-2 rounded shadow dark:border-gray-700 dark:bg-gray-900">
							<h3 class="text-xl font-semibold">{ comment.Comments.title }</h3>
							<span class="block text-gray-600 dark:text-gray-400">{comment.Comments.description}</span>
							<p class="text-sm text-gray-500 dark:text-gray-400">Author: {comment.Authors.name}</p>
							{
								(comment.Comments.completed) ? <span class="text-green-500 dark:text-green-400">Completed</span> : <span class="text-red-500 dark:text-red-400">Not Completed</span>
							}
							<form method="post">
								<input type="hidden" name="id" value={comment.Comments.id} />
								<button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
									Eliminar comentario
								</button>
							</form>
						</li>
					))}
				</ul>
				
			</section>
		</main>
	</body>
	<style>
		:root{
			color-scheme: light dark;
		}
	</style>
</html>