---
import { db, Users, Comments, eq } from "astro:db";
import { getSession } from "auth-astro/server";

import Header from '@/components/header.astro';
import CommentsPersonal from "@/components/commentsPersonal.astro";
import CommentsPublic from "@/components/commentsPublic.astro";

const session = await getSession(Astro.request);
console.log(session)



if (Astro.request.method === 'POST') {
	// parse form data
	const formData = await Astro.request.formData();
	const id = formData.get('id')
	console.log(id)
	// delete comment
	await db.delete(Comments).where(eq(Comments.id, id));
	return Astro.redirect('/'); 
}

---

<html lang="es" class="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="text-center bg-gray-800 text-white dark:bg-gray-100 dark:text-gray-800">
		
		<main class="w-screen">
			<section class="bg-white text-black shadow-md rounded p-4 m-4 dark:bg-gray-800 dark:text-white">
				<Header title="See" hrefText="Add"/>
				{
					(session) ? 
					<CommentsPersonal />
					<CommentsPublic />
					:
					<p>Debes iniciar sesión para ver los comentarios</p>
				}
			</section>
		</main>
	</body>
	<style>
		:root{
			color-scheme: light dark;
		}
	</style>
</html>