---
import { getSession } from 'auth-astro/server';
import { db, Users, Comments, eq } from 'astro:db';
import { ne } from 'astro:db';
import { and } from 'astro:db';

const session = await getSession(Astro.request);

let CommentsDataPublic = [];
if(session!==null){
    const userCurrent = await db.select().from(Users).where(eq(Users.email, session.user.email));
    console.log(userCurrent[0].id)
    CommentsDataPublic = await db.select().from(Comments).where(and(
        ne(Comments.userId, userCurrent[0].id), 
        eq(Comments.isPublic, true)
    )).innerJoin(Users, eq(Comments.userId, userCurrent[0].id));
	console.log(CommentsDataPublic)

}

---
{
    (CommentsDataPublic.length === 0) ? (<h3 class="text-start m-0 text-xl">No comments Public</h3>) :
    (
        <h3 class="text-start m-0 text-xl">Comments Public</h3>
        <ul class="space-y-4">
                {
                    CommentsDataPublic.map((commentsPublic) => (
                        <li class="border p-2 rounded shadow dark:border-gray-700 dark:bg-gray-900">
                            <h3 class="text-xl font-semibold">{ commentsPublic.title }</h3>
                            <span class="block text-gray-600 dark:text-gray-400">{commentsPublic.description}</span>
                            <p class="text-sm text-gray-500 dark:text-gray-400">Author: {commentsPublic.name}</p>
                                {
                                    (commentsPublic.completed) ? <span class="text-green-500 dark:text-green-400">Completed</span> : <span class="text-red-500 dark:text-red-400">Not Completed</span>
                                }
                        </li>
                    ))
                }
            </ul>
        )
}